receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  file/traces:
    path: /var/otel/traces.json
    rotation:
      max_megabytes: 5
      max_backups: 1
      max_age_days: 1

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/traces]

