receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  file/traces:
    path: /var/otel/traces_task3.json
  file/logs:
    path: /var/otel/logs_task3.json

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/traces]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/logs]
